DATABASE_URL=sqlite:///./clinic.db
COHERE_API_KEY=PuxqDQKy4dYEvfEF2g2nGsTVBUHOUDQrr7Tsec7J
PINECONE_API_KEY=pcsk_6fAbeV_28KkDfAvEZNs4bDk5V1a8jf55cZa5YjV7Bw9se1t4kBXZEdpFdwtHF6iJruqHC3
PINECONE_INDEX_NAME=clinic-index1
DATABASE_URL=postgresql://neondb_owner:npg_ug8qRhStHO4W@ep-delicate-night-a1se3713.ap-southeast-1.aws.neon.tech/neondb?sslmode=require