DATABASE_URL=sqlite:///./clinic.db
COHERE_API_KEY=PuxqDQKy4dYEvfEF2g2nGsTVBUHOUDQrr7Tsec7J
PINECONE_API_KEY=pcsk_6fAbeV_28KkDfAvEZNs4bDk5V1a8jf55cZa5YjV7Bw9se1t4kBXZEdpFdwtHF6iJruqHC3
PINECONE_INDEX_NAME=clinic-index1
SECRET_KEY=f3a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1
